{% extends "layout.html" %}

{% block title %}
{{ "Filesystem explorer" }}
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <main class="main" data-page="{{ page }}"" data-last="{{ last }}">
        {% for fn in filenames %}
            <figure class="image">
                <img src='{{ url_for("static", filename="imgs/" + fn) }}'>
                <figcaption>{{ fn }}</figcaption>
            </figure>
        {% endfor %}
    </main>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
{% endblock %}

